**/*.bin
**/*.sct
**/*.o
**/*.d*
**/*.hex
**/*.ht*
**/*.exe
**/*.l*
**/*.t*
**/*.ch*
**/*.cr*
**/*.S
**/*.sc*
**/*.x*
**/*.a*
**/*.m*
**/*.prefs
**/*.__i
**/.cproject
**/*.iex
**/*.icf
**/*.ew*
**/*.ba*


utilities/prod_test/*
utilities/**/*
.vscode/settings.json
